@use '../colors' as *;
@use 'sass:color';
@use '../util' as *;
@use '../fonts' as *;

@function multiple-box-shadow($n) {
  $value: '#{random(3000)}px #{random(2000)}px #fff';
  @for $i from 2 through $n {
    $value: '#{$value} , #{random(3000)}px #{random(2000)}px #fff'
  }
  
  @return unquote($value);
}

@keyframes animStar {
  from {
    transform: translateY(0px)
  } to {
    transform: translateY(-2000px);
  }
}

$shadows-small:  multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-big:    multiple-box-shadow(100);

@mixin stars($left, $diameter, $animTime) {
  position: relative;
  left: $left;
  top: -13rem;
  width: $diameter;
  height: $diameter;
  background: transparent;
  box-shadow: $shadows-small;
  animation: animStar $animTime linear infinite;
  z-index: 1;

  &:after {
    content: " ";
    position: absolute;
    top: 200rem;
    width: $diameter;
    height: $diameter;
    background: transparent;
    box-shadow: $shadows-small;
  }
}

.stars1 {
  @include stars(-10rem, .1rem, 30s);
}

.stars2 {
  @include stars(0, .2rem, 75s);
}

.stars3 {
  @include stars(5rem, .3rem, 120s);
}

.section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: $black;
  height: 80vh;
  min-height: 65rem;
  max-height: 100rem;
  overflow-y: hidden;
}

.section1 *:not(.stars1, .stars2, .stars3) {
  z-index: 2;
}

.introBtnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.introBtn {
  background-color: color.adjust($red, $alpha: -.8);
  border: 1px solid $red;
  border-radius: .3rem;
  color: $cyan;
  display: inline-block;
  font-family: $font-bold;
  padding: .7rem 1.5rem;
  text-decoration: none;
  text-align: center;
  transition: 500ms;
  margin: 0 2rem 7rem 2rem;
  width: 20vw;
  min-width: 14rem;
  max-width: 24rem;
}

.introBtn:hover {
  background-color: color.adjust($red, $alpha: -.2);
  box-shadow: 0 0 0.6rem 0 color.adjust($red, $alpha: -.2);
  color: $black1;
  border-radius: .1rem;
}

.introText {
  color: $cyan;
  margin: 0 0 3rem 0;
  text-align: center;

  h1 {
    margin: 0 0 3.5rem 0;
  }
}

.introSecondButtonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;

  a {
    text-decoration: none;
    margin: 0 1.5rem;
    padding: 1rem 1.6rem;
  }
}

.githubBtn {
  color: $green;
  background: transparent;
  border: 1px solid color.adjust($green, $alpha: -.6);
  border-radius: .6rem;
  font-family: $font-bold;
  transition: 500ms;
}

.githubBtn:hover {
  border-radius: .1rem;
  background: color.adjust($green, $alpha: -.9);
  border: 1px solid $green;
  color: $green;
}

.downloadBtn {
  color: $black;
  background: $green;
  border-radius: .6rem;
  font-family: $font-bold;
  transition: 500ms;
}

.downloadBtn:hover {
  border-radius: .1rem;
  background: color.adjust($green, $hue: 20%);
  color: $black;
}

.stars {
  color: white;
}

.section2 {
  background: linear-gradient(to bottom, $cyan, color.adjust($cyan, $saturation: 20%, $lightness: 5%), $cyan);
  color: $black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 35vh;
  min-height: 25rem;
  padding-top: 5rem;
}

.whyUs_container {
  margin: 0; //fix for row making element overflowX
}

.whyUs {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 4rem;
  
  svg {
    width: 8rem;
    height: 8rem;
    fill: $black1;
  }

  h4 {
    margin-top: 2rem;
    font-family: $font-bold;
    color: $black1;
  }

  p {
    color: $black1;
    word-spacing: -1.5px;
  }
}

.whyUs:nth-of-type(2) {
  @include border-faded(0 .1rem, bottom, $red);
}

// SECTION 3

.section3 {
  // background: color.adjust($black1, $saturation: -50%);
  background: #eee;
  color: $black1;
  height: 45vh;
}

.contact_container {
  margin: 3rem 0 0 0;
  padding: 0 6rem;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  h3 {
    color: $red;
    margin-bottom: .8rem;
    padding-bottom: .8rem; 
    @include border-faded(0 0 .1rem 0, left, $red);
  }

  p {
    margin-bottom: 2.4rem;
    white-space: nowrap;

    span {
      font-family: $font-bold;
    }
  }

  a {
    background: color.adjust($purple, $alpha: -.9);
    border: 1px solid $purple;
    border-radius: .3rem;
    color: $purple;
    font-family: $font-bold;
    text-decoration: none;
    padding: .9rem 1.8rem;
    transition: 300ms;
  }

  a:hover {
    background: $purple;
    border-radius: .1rem;
    color: #eee;
  }
}

.section3::before {
  position: relative;
  top: -.05rem;
  background: $cyan;
  content: ' ';
  display: block;
  height: 8rem;
  width: 100%;
  clip-path: polygon(50% 0, 0 0, 0 100%, 50% 0, 100% 100%, 100% 0);
}

// Section 4
.section4 {
  padding: 8rem 0;
  background: $purple;
}

.download_container {
  margin: 0;
}

.winSVG {
  min-width: 6rem;
  width: 10vw;
  max-width: 20rem;
  fill: $cyan;
}

.download {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.downloadSVG {
  min-width: 1.4rem;
  width: 2.4vw;
  max-width: 2.8rem;
  fill: $black;
  transition: 300ms;
}

.winDownloadBtn {
  background: $cyan;
  border: 1px solid $cyan;
  border-radius: .3rem;
  font-family: $font-bold;
  color: $black;
  padding: 2.4rem 6rem;
  text-decoration: none;
  transition: 300ms;
  margin: 2rem 0 0 0;
}

.winDownloadBtn:hover {
  border-radius: .1rem;
  background: color.adjust($cyan, $alpha: -.9);
  color: $cyan;

  .downloadSVG {
    fill: $cyan;
  }
}

.downloadText {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-right: 14vw;
}

// Footer
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 1.6rem;
  height: 4rem;

  p {
    margin: 0;
  }
}
