@use '../colors' as *;
@use 'sass:color';
@use '../util' as *;
@use '../fontSizes' as *;

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: color.adjust($black, $alpha: -.6);
  backdrop-filter: blur(1rem);
  box-shadow: 0 0 1rem $black;
  z-index: 3;
  @include border-faded(0 0 .1rem 0, left, $red);
}

.navItemsContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
  list-style: none;
  padding: 1rem;
  margin: 0;

  // first nav link
  li:nth-of-type(1) {
    padding: 0 1rem 0 0;
  }
  // all nav links except the first
  li:nth-of-type(n + 2) {
    padding: 0 1rem;
  }
  // first two nav links
  li:nth-child(-n + 2) {
    @include border-faded(0 .1rem 0 0, top, $red);
  }
}

.headerLink {
  text-decoration: none;
  color: $cyan;
  transition: color 300ms;
  font-size: $h4;
}

.headerLink:hover {
  color: $green;
}