@use 'colors' as *;
@use 'fontSizes' as *;
@import 'fonts';

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  height: 100%;
  letter-spacing: .8px;
  // overflow-x: hidden;
}

body {
  background-color: $black !important;
  color: $cyan !important;
  font-family: $fonts !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

// * Font Sizes
h1, .h1 {
  font-size: $h1;
  font-family: 'inter-bold';
}
h2, .h2 {
  font-size: $h2;
}
h3, .h3 {
  font-size: $h3;
}
h4, .h4 {
  font-size: $h4;
}
p, a, .p, .a, li, input {
  font-size: $p;
}
span, .span {
  // font-size: $span
}
